## Analysis of pairs of AMD zeolites

In this notebook, we analyze pairs of zeolites commonly seen together in the literature. Instead of analyzing directly their distance, we take the 10-nearest neighbors of each zeolite to demonstrate how the minimum spanning tree does not fully capture some clusters. This discussion corresponds to the Supporting Text in the manuscript.

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
exp = pd.read_csv("../data/iza_dm.csv", index_col=0).sort_index()

In [3]:
nbrs = {}
for name, row in exp.iterrows():
    idx = np.argsort(row)
    nbrs[name] = [row.index[i] for i in idx[1:11]]

nbrs = pd.DataFrame(nbrs).T

In [4]:
nbrs.loc[["SOD", "LTA"]]

       0    1    2    3    4    5    6    7    8    9
SOD  FRA  PTT  DOH  LOS  MRT  WEN  EAB  ATT  LEV  AWW
LTA  FAU  EMT  ITV  SAS  SYT  IFU  AFY  TSC  AEI  KFI

In [5]:
nbrs.loc[["OFF", "LTL"]]

       0    1    2    3    4    5    6    7    8    9
OFF  SWY  ERI  ANO  AVE  LTF  CGS  PTT  ETR  SAT  AFR
LTL  BRE  MOZ  PON  SZR  JSW  LTJ  SVV  DDR  RUT  ZON

In [6]:
nbrs.loc[["OKO", "PCR", "UTL"]]

       0    1    2    3    4    5    6    7    8    9
OKO  PCS  TUN  SFV  SVR  MEL  MFI  IMF  PCR  CGF  SFF
PCR  IHW  SFV  SSO  TUN  IMF  PCS  SVR  PTO  OKO  SFG
UTL  EWS  BOG  IMF  EWT  CSV  ITG  IWW  STF  UOV  IWV

In [7]:
nbrs.loc[["AFI", "GME"]]

       0    1    2    3    4    5    6    7    8    9
AFI  TON  CAS  SFG  OSI  SSY  EEI  SFE  CFI  MTT  SSF
GME  SFW  AFX  AFV  AFT  KFI  LEV  AEI  SAS  AFS  EAB

In [8]:
nbrs.loc[["GIU", "MEP", "DOH", "MTN", "APC", "CAN"]]

       0    1    2    3    4    5    6    7    8    9
GIU  FAR  AFG  CAN  LTN  LIO  VNI  AWW  TOL  ESV  SAT
MEP  DOH  MTN  GIU  AFG  FAR  ABW  YUG  CAN  APC  HEU
DOH  MTN  MEP  LOS  AFG  SAT  GIU  WEN  FAR  AVE  ABW
MTN  DOH  MEP  AFG  SAT  ABW  GIU  LOS  FAR  WEN  AVE
APC  LIO  UEI  MAR  TOL  VNI  APD  AWO  ESV  GIU  ATN
CAN  GIU  AFG  FAR  LOS  APD  ABW  LTN  SAT  UEI  LIO

In [9]:
nbrs.loc[["MEI", "SBS", "SBT", "SAO", "SBE"]]

       0    1    2    3    4    5    6    7    8    9
MEI  SBE  SBS  SBT  SAO  UFI  AFS  BPH  DFO  EMT  IFT
SBS  SBT  MEI  SBE  BPH  UFI  AFS  IRN  SAO  DFO  AFR
SBT  SBS  MEI  SBE  BPH  AFS  UFI  IRN  DFO  SAO  AFR
SAO  MEI  SBE  SBS  IRR  DFO  SBT  IFU  BPH  IFT  AFS
SBE  AFS  UFI  MEI  BPH  SBS  SBT  IRN  SAO  DFO  AFR